<!-- 프론트 카카오톡 간편 로그인 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kakao_Login</title>
  </head>
  <body>
    <ul>
      <li onclick="kakaoLogin();">
        <a href="javascript:void(0)">
          <span>카카오 로그인</span>
        </a>
      </li>
      <li onclick="kakaoLogout();">
        <a href="javascript:void(0)">
          <span>카카오 로그아웃</span>
        </a>
      </li>
    </ul>
    <!-- 카카오 스크립트 -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
      //발급받은 javascript키
      //꼭 있어야 함!!
      Kakao.init("9cb4f3ee20f7fef60bfc7258c279d34d");
      console.log("sdk 초기화 여부 판단 >> ", Kakao.isInitialized());
      //카카오로그인
      function kakaoLogin() {
        Kakao.Auth.login({
          success: function (response) {
            Kakao.API.request({
              url: "/v2/user/me",
              success: function (response) {
                console.log(response);
                console.log("Login_id:", response.id);
              },
              fail: function (error) {
                console.log(error);
              },
            });
          },
          fail: function (error) {
            console.log(error);
          },
        });
      }

      //카카오로그아웃
      function kakaoLogout() {
        if (Kakao.Auth.getAccessToken()) {
          Kakao.API.request({
            url: "/v1/user/unlink",
            success: function (response) {
              console.log("Logout_id:", response.id);
            },
            fail: function (error) {
              console.log(error);
            },
          });
          Kakao.Auth.setAccessToken(undefined);
        }
      }
    </script>
  </body>
</html>
