<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>음성을 텍스트로 변환</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>음성을 텍스트로 변환</h1>

    <div>
      <button onclick="startRecording()">녹음 시작</button>
      <button id="add-div-button" onclick="stopRecording()">녹음 종료</button>
      <p id="status"></p>
    </div>

    <div>
      <h2>음성 변환 내역</h2>
      <p id="transcription"></p>
    </div>
    <div>---------채팅 내역--------</div>
    <div id="div-container"></div>

    <script>
      let isRecording = false;
      let recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition || window.mozSpeechRecognition || window.msSpeechRecognition)();
      recognition.interimResults = false;
      recognition.lang = 'en-US';
      let speechToText = '';

      const startRecording = ()=>{
        recognition.start()
        isRecording = true;
      }

      const stopRecording = ()=>{
        recognition.stop()
      }
    </script>
  </body>
</html>
