<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Speech-to-Text Transcription</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>Speech-to-Text Transcription</h1>

    <div>
      <button onclick="startRecording()">Start Recording</button>
      <button id="add-div-button" onclick="stopRecording()">
        Stop Recording
      </button>
      <p id="status"></p>
    </div>

    <div>
      <h2>Transcription</h2>
      <p id="transcription"></p>
    </div>
    <div>---------채팅 내역--------</div>
    <div id="div-container"></div>

    <script>
      const startRecording = async () => {
        console.log("녹음 준비 중");
        const res = await fetch("/start");
        if (res.ok) {
          console.log("녹음이 성공적으로 완료되었습니다.");
          document.getElementById("status").textContent =
            "녹음이 성공적으로 완료되었습니다.";
        } else {
          document.getElementById("status").textContent =
            "Error starting recording";
        }
      };

      const stopRecording = async () => {
        console.log("녹음 종료를 누르셨습니다. 번역 중이니 잠시만 기다리세요.");
        const res = await fetch("/stop");
        if (res.ok) {
          document.getElementById("status").textContent = "번역중 입니다.";
          const data = await res.json();
          document.getElementById("transcription").textContent =
            data.transcription;
          console.log("번역이 전달되었습니다.");


          // 녹음된 언어 div로 출력.
          const divContainer = document.getElementById("div-container");
          const gptSayDiv = document.createElement("div");
          gptSayDiv.textContent = "------i say------";
          divContainer.appendChild(gptSayDiv);

          const newDiv = document.createElement("div");
          newDiv.textContent = data.transcription;
          divContainer.appendChild(newDiv);

          chatAns();
        } else {
          document.getElementById("status").textContent =
            "Error stopping recording";
        }
      };

      const chatAns = async () => {
        console.log("chatgpt가 답변중입니다..");
        const res = await fetch("/chat");
        if (res.ok) {
          document.getElementById("status").textContent =
            "chatgpt가 답변중입니다.";
          const data1 = await res.json();

          console.log("답변이 완료되었습니다..");
          document.getElementById("status").textContent =
            "chatgpt가 답변을 완료했습니다.";

          // 답변 div로 출력.
          const divContainer = document.getElementById("div-container");
          const gptSayDiv = document.createElement("div");
          gptSayDiv.textContent = "------gpt say------";
          divContainer.appendChild(gptSayDiv);
          const newDiv = document.createElement("div");
          newDiv.textContent = data1.answer;
          divContainer.appendChild(newDiv);
          console.log("답변 div 출력 완료.");
        } else {
          document.getElementById("status").textContent =
            "Error stopping recording";
        }
      };
    </script>
  </body>
</html>
